<footer> 
      <p>I create and learn every day
        <br>lets create something together!</p>
      <div class="socials">
        <a href="https://x.com/home" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="https://github.com/xinlin25" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="mailto:xinlin.chen.zhang.alu@iesfernandoaguilar.es" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-envelope"></i>
        </a>
      </div>
      <div class="derechos-de-autor">Made by Xin Lin (2026) &#169;</div>
    </footer>
