header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
 .icon {
    width: 90px;
 }

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
}

nav a {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.379);
    font-size: 20px;
}

nav a.active-link {
  color: black;
}

nav a:hover {
    color: black;
}