.container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.project {
    display: flex;
    flex-direction: column; 
    margin-bottom: 40px;
}

.project-content {
    display: flex;    
    gap: 30px;
    align-items: flex-start;
}

.project-content img {
    width: 400px;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.technologies p {
    background-color: rgba(0, 255, 255, 0.288);
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    .project-content {
        flex-direction: column;
        align-items: center;
    }

    .project-content img {
        width: 100%;    
        max-width: 400px; 
    }

    .project-info {
        width: 100%;
        text-align: center; 
    }

    .technologies {
        justify-content: center;
    }
}