<div class="container">
  <h1>My projects</h1>

  @for (project of projects$ | async; track $index) {
    <div class="project">
      <h2>{{ project.title }}</h2>

      <div class="project-content">
        <img [src]="'/' + project.image" alt="preview">

        <div class="project-info">
          <p>{{ project.description }}</p>

          <div class="technologies">
            @for (tech of project.technologies; track $index) {
              <p>{{ tech }}</p>
            }
          </div>

          <a [href]="project.github" target="_blank">
            <i class="bi bi-github"></i> See on GitHub
          </a>
        </div>
      </div>
    </div>
  }
</div>